@charset "UTF-8";

body{
    background-color: rgb(55, 171, 248);
    font-family: Arial, Helvetica, sans-serif;
}

header{
    text-align: center;
    color: white;
}

section{
    margin: auto;
    padding: 10px;
    background-color: white;
    color: black;
    text-align: center;
    width: 500px;
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.473);
    padding-bottom: 8px;
}
select#flis{
    width: 150px;
}

footer{
    text-align: center;
    color: white;
}